.status {
  .error {
    display: inline-block;
    padding: 1em;
    background: #ff0528;
    border: 3px solid #bb0d25;
    color: #fff;

    + .error {
      margin-left: 1em;
    }

    .date {
      font-size: 1.2em;
      margin-bottom: 0.3em;
    }
  }
}

.day {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;

  &:not(.empty) .date {
    margin-bottom: 1em;
  }

  .spending {
    margin-right: 1em;
  }

  &.empty {
    opacity: .5;

    .date {
      margin-right: 1em;
    }
  }
}

.save-expense-metadata {
  padding: 0.7rem 1.5rem;
  border: 2px solid #8fc045;
  border-radius: 20rem;
  margin-top: 1.5rem;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  opacity: 1;
  font-size: 1.3rem;
  background: #8fc045;
  color: #fff;
  border-color: #719836;
}
.save-expense-metadata:hover {
  background: #fff;
  border-color: #8fc045;
  color: #8fc045;
}
.save-expense-metadata.disabled,
.save-expense-metadata.disabled:hover {
  background: #ccc;
  border-color: #999;
  color: #fff;
  cursor: progress;
}
