.title {
  font-family: 'Raleway', sans-serif;;
}
.balance {
  margin-bottom: -0.4em;
}
.status {
  .error {
    display: inline-block;
    padding: 1em;
    background: #ff0528;
    border: 3px solid #bb0d25;
    color: #fff;

    + .error {
      margin-left: 1em;
    }

    .date {
      font-size: 1.2em;
      margin-bottom: 0.3em;
    }
  }
}
.calendar {
  margin: 2em 0;
  @media screen and (max-width: 550px) {
    margin-top: 1em;
  }

  .header {
    text-align: left;

    .day-type {
      width: calc(100% / 7);
      display: inline-block;
      padding-left: 10px;
      box-sizing: border-box;
      @media screen and (max-width: 550px) {
        padding-left: 5px;
      }
    }
  }
  .days {
    text-align: left;
    .day {
      position: relative;
      width: calc(100% / 7);
      display: inline-block;
      // text-align: center;
      vertical-align: top;
      height: 140px;
      box-shadow: 0 0 0px 1px #ccc;
      padding: 10px;
      box-sizing: border-box;
      background: #fff;

      @media screen and (max-width: 900px) {
        height: 120px;
      }
      @media screen and (max-width: 550px) {
        height: 80px;
        padding: 2px 5px;
        &:not(.empty) {
          cursor: pointer;
        }
        &:last-child  .date{
          margin: 3px 0 0 !important;
        }
        .edit,
        .note {
          display: block;
          opacity: 0;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
        }
        .comment,
        .category {
          display: none;
        }
      }
      @media screen and (max-width: 400px) {
        height: 60px;
      }
      @media screen and (max-width: 450px) {
        .spending {
          font-size: .8em;
          font-weight: 600;
        }
      }

      &:last-child .date {
        background: #ff0047;
        color: #fff;
        width: 30px;
        height: 26px;
        padding-top: 4px;
        vertical-align: middle;
        text-align: center;
        display: block;
        border-radius: 50px;
        margin: -6px 0 0 -6px;
      }
      &.space {
        box-shadow: none;
      }
      &.empty {
        // background: #e8e8e8;
      }
      &.day-type-6 {
        box-shadow: -3px 0 0 -1px #000,0 0 0px 1px #ccc;
      }
      &.category-type- {
        -webkit-animation: AnimationName 3s linear infinite alternate;
        -moz-animation: AnimationName 3s linear infinite alternate;
        -o-animation: AnimationName 3s linear infinite alternate;
        animation: AnimationName 3s linear infinite alternate;

        @mixin animation {
          0%{background: #ce57ff}
          20%{background: #004dff}
          40%{background: #00fffd}
          60%{background: #06d614}
          80%{background: #ffbc00}
          100%{background: #ff5353}
        }
        @-webkit-keyframes AnimationName { @include animation; }
        @-moz-keyframes AnimationName { @include animation; }
        @-o-keyframes AnimationName { @include animation; }
        @keyframes AnimationName { @include animation; }

        color: #fff;

        .category {
          background-color: rgba(255, 255, 255, 0.75);
          border: none;
          border-bottom: 1px solid;
          border-radius: 0;
        }
      }
    }
  }
  .comment {
    position: absolute;
    top: 10px;
    left: 35px;
    width: calc(100% - 70px);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.5;
  }
  .note,
  .edit {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 23px;
    height: 26px;
    border-radius: 50px;
    &:hover {
      box-shadow: 0 0 10px 3px #ff0, 0 0 0 30px #ff0 inset;
    }
  }
  .edit {
    display: none;
  }
  .day:hover .edit {
    display: block;
  }
  .spending {
    text-align: center;
    margin: 10px 0px;
    font-size: 1.3em;
    white-space: nowrap;

    &.spending-high {
      color: red;
    }
  }
  .category {
    cursor: pointer;
    margin: auto;
    display: block;
    border: none;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.4);

    &[disabled] {
      opacity: 0.5;
      background: none;
    }
  }
}
.legend {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .category {
    margin: 15px 2em 0 0;
  }
  .box {
    width: 22px;
    height: 100%;
    margin-right: .5em;
    vertical-align: bottom;
    display: inline-block;

    &.category-type- {
      border: 1px solid #ccc;
    }
  }

  @media screen and (max-width: 550px) {
    font-size: .8em;
    .box {
      width: 5px;
      margin-right: 5px;
    }
    .category {
      margin: 8px 1.5em 0 0;
    }
  }
}

.category-type{
  &-{//uncategorized
    //
  }
  &-food {
    background: rgba(19, 156, 29, 0.22) !important;
    background: #cbe9cd !important;
  }
  &-travel {
    background: rgba(3, 169, 244, 0.33) !important;
    background: #ace3fb !important;
  }
  &-housing {
    background: rgba(175, 98, 62, 0.3) !important;
    background: #e7d0c5 !important;
  }
  &-health {
    background: rgba(255, 0, 0, 0.21) !important;
    background: #ffcaca !important;
  }
  &-shopping {
    background: rgba(110, 0, 255, 0.18) !important;
    background: #e5d1ff !important;
  }
  &-utilities {
    background: rgba(255, 212, 0, 0.19) !important;
    background: #fff7cf !important;
  }
  &-entertainment {
    background: rgba(255, 0, 200, 0.16) !important;
    background: #ffd7f6 !important;
  }
  &-misc {
    background: #dcdcdc !important;
  }
  &-gifts {
    background: rgba(0, 255, 255, 0.31) !important;
    background: #b0ffff !important;
  }
}

.model-container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.6);

  &.open {
    display: block;
  }

  .model {
    width: 400px;
    margin: 4em auto;
    min-height: 300px;
    background: #fff;
    padding: 40px 20px;
    border-radius: 3px;
    @media screen and (max-width: 450px) {
      width: 280px;
    }
  }
  .date {
    margin: 0;
  }
  .comment {
    margin: 2em 0 1em;
    padding: 0.5em 1em;
    line-height: 1.3em;
    font-size: 1em;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 200px;
    box-sizing: border-box;
  }
  .note {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 200px;
    font-size: 1em;
    box-sizing: border-box;
    padding: .5em 1em;
  }
  .save {
    padding: 0.4rem 1.3rem;
    border: 2px solid #8fc045;
    border-radius: 20rem;
    margin-top: 1.5rem;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    opacity: 1;
    font-size: 1.3rem;
    background: #8fc045;
    color: #fff;
    border-color: #719836;

    &:hover {
      background: #fff;
      border-color: #8fc045;
      color: #8fc045;
    }
    &.disabled,
    &.disabled:hover {
      background: #ccc;
      border-color: #999;
      color: #fff;
      cursor: progress;
    }
  }
  .close {
    color: #00b8ff;
    margin-top: 1em;
    cursor: pointer;
    font-size: 1em;
    background: none;
    border: none;
    padding: .5em 1em;

    &:hover {
      text-decoration: underline;
    }
  }
}
