.status {
  .error {
    display: inline-block;
    padding: 1em;
    background: #ff0528;
    border: 3px solid #bb0d25;
    color: #fff;

    + .error {
      margin-left: 1em;
    }

    .date {
      font-size: 1.2em;
      margin-bottom: 0.3em;
    }
  }
}
.calendar {
  margin: 2em 0;

  .header {
    display: flex;
    justify-content: space-around;
  }
  .days {
    text-align: left;
    .day {
      width: calc(100% / 7);
      display: inline-block;
      // text-align: center;
      vertical-align: top;
      height: 120px;
      box-shadow: 0 0 0px 1px #ccc;
      padding: 10px;
      box-sizing: border-box;
      background: #fff;

      &.empty {
        // background: #e8e8e8;
      }
      &.day-type-6 {
        box-shadow: -3px 0 0 -1px #000,0 0 0px 1px #ccc;
      }
      &.category-type- {
        background: red;
        .category {
          border: none;
          border-bottom: 1px solid;
          border-radius: 0;
        }
      }
    }
  }
  .spending {
    text-align: center;
    margin: 10px 0px;
    font-size: 1.3em;
    white-space: nowrap;

    &.spending-high {
      color: red;
    }
  }
  .category {
    margin: auto;
    display: block;
    border: none;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.4);

    &[disabled] {
      opacity: 0.5;
      background: none;
    }
  }
}
.legend {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .category {
    margin: 10px 2em;
  }
  .box {
    width: 20px;
    height: 100%;
    margin-right: .5em;
    vertical-align: bottom;
    display: inline-block;

    &.category-type- {
      border: 1px solid #ccc;
    }
  }
}

.category-type{
  &-{//uncategorized
    //
  }
  &-food {
    background: rgba(19, 156, 29, 0.22) !important;
  }
  &-travel {
    background: rgba(3, 169, 244, 0.33) !important;
  }
  &-housing {
    background: rgba(175, 98, 62, 0.3) !important;
  }
  &-health {
    background: rgba(255, 0, 0, 0.21) !important;
  }
  &-shopping {
    background: rgba(110, 0, 255, 0.18) !important;
  }
  &-utilities {
    background: rgba(255, 212, 0, 0.19) !important;
  }
  &-entertainment {
    background: rgba(255, 0, 200, 0.16) !important;
  }
  &-misc {
    background: #dcdcdc !important;
  }
  &-gifts {
    background: rgba(0, 255, 255, 0.31) !important;
  }
}

.save-expense-metadata {
  padding: 0.7rem 1.5rem;
  border: 2px solid #8fc045;
  border-radius: 20rem;
  margin-top: 1.5rem;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  opacity: 1;
  font-size: 1.3rem;
  background: #8fc045;
  color: #fff;
  border-color: #719836;
}
.save-expense-metadata:hover {
  background: #fff;
  border-color: #8fc045;
  color: #8fc045;
}
.save-expense-metadata.disabled,
.save-expense-metadata.disabled:hover {
  background: #ccc;
  border-color: #999;
  color: #fff;
  cursor: progress;
}
