@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway');

@function multiple-text-shadow($n, $value) {
  $return: $value;
  @for $i from 2 through $n {
    $return: '#{$return}, #{$value}';
  }
  @return unquote($return);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 0.8em;
  border: 1px solid #ccc;
  border-radius: .25rem;
  padding: .375rem 1.75rem .375rem .75rem;
  background: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='#333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") right .75rem center no-repeat #fff;
  background-size: 8px 10px;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #333;
  margin: 0;
}

#workout,
#balance {
  text-align: center;
  max-width: 500px;
  width: 100%;
  margin: 0 auto 8rem;

  .nav-container {
    position: fixed;
    bottom: -3px;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  .nav {
    border: 2px solid #44c6ff;
    display: inline-block;
    border-radius: 5px;
    font-size: 4rem;

    a {
      display: inline-block;
      padding: 0 20px;
      color: inherit;
      text-decoration: none;
      background: #fff;

      &:hover {
        background: #c5edff;
      }
      &.active {
        background: #44c6ff;
      }
      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .nav-container {
      margin-top: 1.3em;
      position: static;
    }
    .nav {
      font-size: 2rem;
    }
  }
}

#workout {
  @import 'workout';
}

#balance {
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;

  @import 'balance';
}
