@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway");
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 0.8em;
  border: 1px solid #ccc;
  border-radius: .25rem;
  padding: .375rem 1.75rem .375rem .75rem;
  background: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='#333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") right 0.75rem center no-repeat #fff;
  background-size: 8px 10px; }

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #333;
  margin: 0; }

#workout,
#balance {
  text-align: center;
  max-width: 500px;
  width: 100%;
  margin: 0 auto 8rem; }
  #workout .nav-container,
  #balance .nav-container {
    position: fixed;
    bottom: -3px;
    left: 0;
    width: 100%;
    z-index: 10; }
  #workout .nav,
  #balance .nav {
    border: 2px solid #44c6ff;
    display: inline-block;
    border-radius: 5px;
    font-size: 4rem; }
    #workout .nav a,
    #balance .nav a {
      display: inline-block;
      padding: 0 20px;
      color: inherit;
      text-decoration: none;
      background: #fff; }
      #workout .nav a:hover,
      #balance .nav a:hover {
        background: #c5edff; }
      #workout .nav a.active,
      #balance .nav a.active {
        background: #44c6ff; }
      #workout .nav a:first-child,
      #balance .nav a:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; }
      #workout .nav a:last-child,
      #balance .nav a:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
  @media screen and (max-width: 600px) {
    #workout .nav-container,
    #balance .nav-container {
      margin-top: 1.3em;
      position: static; }
    #workout .nav,
    #balance .nav {
      font-size: 2rem; } }

#workout .date .arrow {
  font-family: Helvetica, sans-serif;
  padding: 0.5em;
  margin: 0 0 0 .5em;
  text-decoration: none;
  color: inherit;
  opacity: .75; }
  #workout .date .arrow.invisible {
    visibility: hidden; }
  #workout .date .arrow:first-child {
    margin: 0 .5em 0 0; }
  #workout .date .arrow:hover {
    color: #8fc045;
    opacity: 1; }

#workout .score-img-container {
  width: 150px;
  margin: auto;
  position: relative;
  overflow: hidden; }
  #workout .score-img-container .hat-bg {
    width: 100%;
    height: 100%;
    /*background: #fff;*/
    position: absolute;
    z-index: -1; }
  #workout .score-img-container .percent {
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: bold;
    /* color: #8fc045; */
    font-family: 'Raleway', sans-serif;
    text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff; }
    #workout .score-img-container .percent.less {
      color: red;
      text-shadow: -2px 0px 1px rgba(255, 0, 0, 0.15), 2px 0px 1px rgba(255, 0, 0, 0.15), -4px 0px 1px rgba(255, 0, 0, 0.15), 4px 0px 1px rgba(255, 0, 0, 0.15); }
    #workout .score-img-container .percent.more {
      text-shadow: 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000;
      opacity: 0.75;
      color: #fff; }
  #workout .score-img-container .diff {
    text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
    background: rgba(255, 255, 255, 0.7);
    font-family: Helvetica, sans-serif;
    font-size: 0.9em; }
  #workout .score-img-container .diff.low {
    color: #ff0000; }
  #workout .score-img-container .diff.avg {
    color: rgba(0, 0, 0, 0.49); }
  #workout .score-img-container .diff.high {
    color: #a5ff1c;
    text-shadow: 0 0 3px #5f822c, 0 0 3px #5f822c, 0 0 3px #5f822c, 0 0 3px #5f822c, 0 0 3px #5f822c, 0 0 3px #5f822c, 0 0 3px #5f822c;
    background: rgba(0, 0, 0, 0.25); }
  #workout .score-img-container .percent-filler {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: #8fc045;
    z-index: -1;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
    -webkit-transition: all .25s linear;
    transition: all .25s linear; }
  #workout .score-img-container img {
    width: 100%;
    vertical-align: bottom;
    box-shadow: 0px -15px 110px -20px #000 inset; }
    #workout .score-img-container img.less {
      box-shadow: 0px -15px 110px -20px #f00 inset; }

#workout h2 {
  margin-bottom: 0em;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #8fc045; }

#workout > table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse; }

#workout td:first-child {
  text-align: right;
  padding-right: 1em !important; }

#workout td:last-child {
  text-align: left; }

#workout .name {
  font-family: 'Raleway', sans-serif; }

#workout td {
  position: relative; }

#workout .activity td {
  padding: 1.5rem 0em .3rem; }

#workout .activity:first-child td {
  padding-top: 0.5em; }

#workout .child + .activity td:before,
#workout .activity + .activity td:before {
  content: ' ';
  display: block;
  width: 100%;
  height: 1px;
  background: #ddd;
  position: absolute;
  top: .5rem; }

#workout .activity .name {
  font-size: 1.3em;
  /* consider removing these vvv */
  vertical-align: top;
  padding-top: 1.6rem; }

#workout .child td {
  padding: 0.5em 0; }

#workout .radios {
  display: inline-block; }
  #workout .radios label {
    cursor: pointer;
    float: left; }
    #workout .radios label span {
      display: inline-block;
      padding: 0.2rem 0.8rem;
      border: 1px solid #fff; }
    #workout .radios label:first-child input:checked + span {
      color: #739a37;
      border: 1px solid;
      border-radius: .25rem; }
    #workout .radios label:last-child input:checked + span {
      color: red;
      border: 1px solid;
      border-radius: .25rem; }
    #workout .radios label input:focus + span {
      outline: 2px solid #70ace9;
      outline: -webkit-focus-ring-color auto 5px; }
    #workout .radios label input:not(:checked) + span {
      text-decoration: underline; }
    #workout .radios label input:not(:checked) + span:hover {
      background: #ccc;
      border-radius: .25rem;
      border: 1px solid #fff; }
  #workout .radios input {
    /*visibility: hidden;*/
    position: absolute;
    opacity: 0; }

#workout input[type=time] {
  height: 28px;
  font-size: 1em;
  padding: 0 0.5em;
  /*min-width: 100px;*/
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ccc; }

#workout textarea {
  font-size: 1em;
  padding: 0 0.5em;
  font-family: 'Open Sans', sans-serif;
  border-radius: 3px;
  border: 1px solid #ccc;
  max-width: 105px; }

#workout .save {
  padding: 0.7rem 1.5rem;
  border: 2px solid #8fc045;
  border-radius: 20rem;
  margin-top: 1.5rem;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  opacity: 1;
  font-size: 1.3rem;
  background: #8fc045;
  color: #fff;
  border-color: #719836; }
  #workout .save:hover {
    background: #fff;
    border-color: #8fc045;
    color: #8fc045; }
  #workout .save.disabled, #workout .save.disabled:hover {
    background: #ccc;
    border-color: #999;
    color: #fff;
    cursor: progress; }

#balance {
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box; }
  #balance .title {
    font-family: 'Raleway', sans-serif; }
  #balance .balance {
    margin-bottom: -0.4em; }
  #balance .status .error {
    display: inline-block;
    padding: 1em;
    background: #ff0528;
    border: 3px solid #bb0d25;
    color: #fff; }
    #balance .status .error + .error {
      margin-left: 1em; }
    #balance .status .error .date {
      font-size: 1.2em;
      margin-bottom: 0.3em; }
  #balance .calendar {
    margin: 2em 0; }
    @media screen and (max-width: 550px) {
      #balance .calendar {
        margin-top: 1em; } }
    #balance .calendar .header {
      text-align: left; }
      #balance .calendar .header .day-type {
        width: calc(100% / 7);
        display: inline-block;
        padding-left: 10px;
        box-sizing: border-box; }
        @media screen and (max-width: 550px) {
          #balance .calendar .header .day-type {
            padding-left: 5px; } }
    #balance .calendar .days {
      text-align: left; }
      #balance .calendar .days .day {
        position: relative;
        width: calc(100% / 7);
        display: inline-block;
        vertical-align: top;
        height: 140px;
        box-shadow: 0 0 0px 1px #ccc;
        padding: 10px;
        box-sizing: border-box;
        background: #fff; }
        @media screen and (max-width: 900px) {
          #balance .calendar .days .day {
            height: 120px; } }
        @media screen and (max-width: 550px) {
          #balance .calendar .days .day {
            height: 80px;
            padding: 2px 5px; }
            #balance .calendar .days .day:not(.empty) {
              cursor: pointer; }
            #balance .calendar .days .day:last-child .date {
              margin: 3px 0 0 !important; }
            #balance .calendar .days .day .edit,
            #balance .calendar .days .day .note {
              display: block;
              opacity: 0;
              width: 100%;
              height: 100%;
              top: 0;
              right: 0; }
            #balance .calendar .days .day .comment,
            #balance .calendar .days .day .category {
              display: none; } }
        @media screen and (max-width: 400px) {
          #balance .calendar .days .day {
            height: 60px; } }
        @media screen and (max-width: 450px) {
          #balance .calendar .days .day .spending {
            font-size: .8em;
            font-weight: 600; } }
        #balance .calendar .days .day:last-child .date {
          background: #ff0047;
          color: #fff;
          width: 30px;
          height: 26px;
          padding-top: 4px;
          vertical-align: middle;
          text-align: center;
          display: block;
          border-radius: 50px;
          margin: -6px 0 0 -6px; }
        #balance .calendar .days .day.space {
          box-shadow: none; }
        #balance .calendar .days .day.day-type-6 {
          box-shadow: -3px 0 0 -1px #000,0 0 0px 1px #ccc; }
        #balance .calendar .days .day.category-type- {
          -webkit-animation: AnimationName 3s linear infinite alternate;
          -moz-animation: AnimationName 3s linear infinite alternate;
          -o-animation: AnimationName 3s linear infinite alternate;
          animation: AnimationName 3s linear infinite alternate;
          color: #fff; }

@-webkit-keyframes AnimationName {
  0% {
    background: #ce57ff; }
  20% {
    background: #004dff; }
  40% {
    background: #00fffd; }
  60% {
    background: #06d614; }
  80% {
    background: #ffbc00; }
  100% {
    background: #ff5353; } }

@-moz-keyframes AnimationName {
  0% {
    background: #ce57ff; }
  20% {
    background: #004dff; }
  40% {
    background: #00fffd; }
  60% {
    background: #06d614; }
  80% {
    background: #ffbc00; }
  100% {
    background: #ff5353; } }

@-o-keyframes AnimationName {
  0% {
    background: #ce57ff; }
  20% {
    background: #004dff; }
  40% {
    background: #00fffd; }
  60% {
    background: #06d614; }
  80% {
    background: #ffbc00; }
  100% {
    background: #ff5353; } }

@keyframes AnimationName {
  0% {
    background: #ce57ff; }
  20% {
    background: #004dff; }
  40% {
    background: #00fffd; }
  60% {
    background: #06d614; }
  80% {
    background: #ffbc00; }
  100% {
    background: #ff5353; } }
          #balance .calendar .days .day.category-type- .category {
            background-color: rgba(255, 255, 255, 0.75);
            border: none;
            border-bottom: 1px solid;
            border-radius: 0; }
    #balance .calendar .comment {
      position: absolute;
      top: 10px;
      left: 35px;
      width: calc(100% - 70px);
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      opacity: 0.5; }
    #balance .calendar .note,
    #balance .calendar .edit {
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 23px;
      height: 26px;
      border-radius: 50px; }
      #balance .calendar .note:hover,
      #balance .calendar .edit:hover {
        box-shadow: 0 0 10px 3px #ff0, 0 0 0 30px #ff0 inset; }
    #balance .calendar .edit {
      display: none; }
    #balance .calendar .day:hover .edit {
      display: block; }
    #balance .calendar .spending {
      text-align: center;
      margin: 10px 0px;
      font-size: 1.3em;
      white-space: nowrap; }
      #balance .calendar .spending.spending-high {
        color: red; }
    #balance .calendar .category {
      cursor: pointer;
      margin: auto;
      display: block;
      border: none;
      max-width: 100%;
      background-color: rgba(255, 255, 255, 0.4); }
      #balance .calendar .category[disabled] {
        opacity: 0.5;
        background: none; }
  #balance .legend {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    #balance .legend .category {
      margin: 15px 2em 0 0; }
    #balance .legend .box {
      width: 22px;
      height: 100%;
      margin-right: .5em;
      vertical-align: bottom;
      display: inline-block; }
      #balance .legend .box.category-type- {
        border: 1px solid #ccc; }
    @media screen and (max-width: 550px) {
      #balance .legend {
        font-size: .8em; }
        #balance .legend .box {
          width: 5px;
          margin-right: 5px; }
        #balance .legend .category {
          margin: 8px 1.5em 0 0; } }
  #balance .category-type-food {
    background: rgba(19, 156, 29, 0.22) !important;
    background: #cbe9cd !important; }
  #balance .category-type-travel {
    background: rgba(3, 169, 244, 0.33) !important;
    background: #ace3fb !important; }
  #balance .category-type-housing {
    background: rgba(175, 98, 62, 0.3) !important;
    background: #e7d0c5 !important; }
  #balance .category-type-health {
    background: rgba(255, 0, 0, 0.21) !important;
    background: #ffcaca !important; }
  #balance .category-type-shopping {
    background: rgba(110, 0, 255, 0.18) !important;
    background: #e5d1ff !important; }
  #balance .category-type-utilities {
    background: rgba(255, 212, 0, 0.19) !important;
    background: #fff7cf !important; }
  #balance .category-type-entertainment {
    background: rgba(255, 0, 200, 0.16) !important;
    background: #ffd7f6 !important; }
  #balance .category-type-misc {
    background: #dcdcdc !important; }
  #balance .category-type-gifts {
    background: rgba(0, 255, 255, 0.31) !important;
    background: #b0ffff !important; }
  #balance .category-type-e-shopping {
    background: rgba(233, 0, 255, 0.23) !important;
    background: #fac5ff !important; }
  #balance .model-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.6); }
    #balance .model-container.open {
      display: block; }
    #balance .model-container .model {
      width: 400px;
      margin: 4em auto;
      min-height: 300px;
      background: #fff;
      padding: 40px 20px;
      border-radius: 3px; }
      @media screen and (max-width: 450px) {
        #balance .model-container .model {
          width: 280px; } }
    #balance .model-container .date {
      margin: 0; }
    #balance .model-container .comment {
      margin: 2em 0 1em;
      padding: 0.5em 1em;
      line-height: 1.3em;
      font-size: 1em;
      border-radius: 3px;
      border: 1px solid #ccc;
      width: 200px;
      box-sizing: border-box; }
    #balance .model-container .note {
      border: 1px solid #ccc;
      border-radius: 3px;
      width: 200px;
      font-size: 1em;
      box-sizing: border-box;
      padding: .5em 1em; }
    #balance .model-container .save {
      padding: 0.4rem 1.3rem;
      border: 2px solid #8fc045;
      border-radius: 20rem;
      margin-top: 1.5rem;
      cursor: pointer;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      opacity: 1;
      font-size: 1.3rem;
      background: #8fc045;
      color: #fff;
      border-color: #719836; }
      #balance .model-container .save:hover {
        background: #fff;
        border-color: #8fc045;
        color: #8fc045; }
      #balance .model-container .save.disabled, #balance .model-container .save.disabled:hover {
        background: #ccc;
        border-color: #999;
        color: #fff;
        cursor: progress; }
    #balance .model-container .close {
      color: #00b8ff;
      margin-top: 1em;
      cursor: pointer;
      font-size: 1em;
      background: none;
      border: none;
      padding: .5em 1em; }
      #balance .model-container .close:hover {
        text-decoration: underline; }
